{% extends 'layout.html'%}
{% block titulo %}Registrarse{% endblock %}
{% block contenido %}
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <i class="fa-solid fa-dice-d20 fa-beat-fade fa-2xl" style="color: #01fe34;"></i> GMZ - Videojuegos
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">        
        <li class="nav-item">
          <a class="nav-link" href="/ofertas">Ofertas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/carrito">Carrito</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Registrarse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signin"><i class="fa-regular fa-user"></i></a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar juegos" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
<div class="container">
  <form method="post" action="/signup" class="row g-3">
    <div class="col-md-6">
      <label for="nombre" class="form-label">Nombre de Usuario</label>
      <input type="text" name="nombre" class="form-control" id="nombre" placeholder="Ingresa tu nombre de usuario">
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Correo Electrónico</label>
      <input type="email" name="correo" class="form-control" id="inputEmail4" placeholder="example@juegoshd.com">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Contraseña</label>
      <input type="password" name="clave" class="form-control" id="inputPassword4" placeholder="Crea una contraseña segura">
    </div>    
    <div class="col-12">
      <label for="terms" class="form-check-label">
        <input type="checkbox" class="form-check-input" id="terms" required>
        Acepto los <a href="/terms">Términos y Condiciones</a> de GMZ Games.
      </label>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-success">Crear Cuenta</button>
    </div>
  </form>
</div>

{% endblock %}